* {
    padding: 0px;
    margin: 0px;
}

.input {
    padding: 10px 0px 0px 10px;
}

#icons-container { 
    position: absolute;
}

/* надо заебенить залупу с контейнером, логику реальзовать, чтобы туда сюда кидал */
#image-container {
    
}

.circle {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
}

.follow-cursor_active {
    display: block;
    transform: translateY(-50%) translateX(-50%); /* центрируем кружок */
    position: absolute; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
    z-index: 999; /* чтобы элемент был над остальными элементами */
    pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */    
}
/* .track_active {
    z-index: 998;
    pointer-events: none;
    display: block;
    transform: translateY(-50%) translateX(-50%);
} */

.hide {
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;

}

.hiden {
  opacity: 0;
}

.track {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    height: 50px;
    width: 50px;
    -webkit-animation: pulse 1s forwards;
    display: block;
    z-index: 998;
    pointer-events: none;
}

@-webkit-keyframes pulse {
    0% {
        opacity: 100%;
    }
    75% {
        opacity: 75%;
    }
    100% {
        opacity: 0%;
    }
}